<header class="gnb-wrap">
  <div class="content-wrap">
    <h1 class="logo"><a href="#"><img src="../../asset/img/common/header_logo.svg" alt="jump studio" /></a></h1>
    <div class="gnb">
      <a href="#contactus" class="item" route-link="./contents/contactus.html">Contact us</a>
      <a href="#newsletter" class="item" route-link="./contents/newsletter.html">Newsletter</a>
    </div>
    <div class="gnb-toggle">
      <button class="btn-open"><span></span><span></span><span></span></button>
      <button class="btn-close"><span></span><span></span></button>
    </div>
    <div class="gnb-lang">
      <button class="lang-selected" data-change="ko">KOR</button>
      <div class="lang-list">
        <button class="item" data-change="ko">KOR</button>
        <button class="item" data-change="en">ENG</button>
      </div>
    </div>
  </div>
</header>